* {
font-family: sans-serif;
text-align: center;
list-style: none;
margin: 0;
box-sizing: border-box;
font-family: 'PT Serif', serif;
}
div{
    background-color: #4b4c5a;
    color: #fbe4d3;
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border:none;
    object-fit: cover;
    object-position: top;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.19);
}

.subtitulo-profesion{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fbe4d3 ;
    font-size: 25px;
}
.historial{
    font-size: 25px;
    margin-bottom:10px;
}
h1{
    text-align:center;
    font-size:30px;
    padding-top:10px;
}
h2{
    font-size: 22px;
    text-align: center;
    margin-top:20px ;
    margin-bottom:20px;
}
h3{
    padding: 10px;
    background-color: #fbe4d3 ;
    color: #4b4c5a;
    font-size: 17px;
    margin-bottom: 5px; 
  
}
p{
    font-size: 15px;
    margin-bottom:20px;
}
   
ul li{
    font-size: 15px
}s

.icono {
height:5px;
width:5px;
margin:5px;
}
